body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body {
    padding: 2em; 
  }
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
    text-align: start;
    height: 100px;
  }
  
  .footer {
    background: lightgreen;
  }
  
  
  
  .aside-1 {
    background: gold;
    max-width:30%;
  }
  
  .aside-2 {
    background: hotpink;
    max-width:70%;
    display:flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: start;
  }

  .col1{
    background:aqua;
    min-width:50%;
  }
  .col2{
    background:gray;
    min-width:50%;
  }
  .product-variation {
    list-style: none;
    margin: 0;
    //background: deepskyblue;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    //justify-content: flex-start;
  }
  
  .product-variation a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: white;
  }
  
  .main    { 
    flex: 3 0px;
}
//   .product-variation a:hover {
//     background: #00b7f5;
//   }
   .aside { flex: 1 0 0; }
  @media all and (max-width: 500px) {
    .aside-1 {
        max-width:50%;
      }
      .aside-2 {
        max-width:50%;
        flex-direction: column;
      }
      .product-variation {
        flex-flow: column wrap;
      }
      .main {
        text-align: left;
        background: deepskyblue;
      }
  }



  //.main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  //***********

  
  
//   @media all and (max-width: 800px) {
//     .product-variation {
//       justify-content: space-around;
//     }
//   }
//   @media all and (max-width: 600px) {
//     .product-variation {
//       -webkit-flex-flow: column wrap;
//       flex-flow: column wrap;
//       padding: 0;
//     }
  
//     .navigation a {
//       text-align: center;
//       padding: 10px;
//       border-top: 1px solid rgba(255, 255, 255, 0.3);
//       border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//     }
  
//     .navigation li:last-of-type a {
//       border-bottom: none;
//     }
//   }
  //***********
  
//   @media all and (min-width: 800px) {
//     .aside-1 { order: 1; } 
//     .aside-2 { order: 3; }
//     .footer  { order: 4; }
//   }
  
  