body {
  padding: 0px;
  margin: 0px;
}

.line {
  background-color: #E0E0E0;
  width: 97%;
  height: 1px;
  margin: 0px auto;
}

.thick {
  height: 5px;
}

.heading-Text {
  color: #707070;
  display: inline-block;
  text-transform: uppercase;
}

.price {
  font-size: 15px;
}

.aside p {
  margin: 0px;
}

.label {
  display: none;
}

.qty {
  border: 1px solid #C8C8C8;
  display: inline-block;
  padding: 5px 15px;
}

body {
  background-color: gray;
  font-family: "Times New Roman", Times, serif;
  color: #C8C8C8;
}

.main {
  max-width: 750px;
  margin: 10px auto;
  background: white;
  font-size: 12px;
}

.header {
  padding: 8px 10px 0px 10px;
  text-transform: uppercase;
  color: #707070;
}

.header h1 {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.sub-header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.header-items {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  max-width: 200px;
}

.container {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}

.wrapper > * {
  flex: 1 100%;
}

.aside-1 {
  min-width: 180px;
  line-height: 15px;
}

.aside-2 {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  max-width: 200px;
}

.button-panel {
  justify-content: space-between;
  list-style: none;
  padding: 90px 0px 0px 0px;
  display: flex;
}

.mobile {
  display: none;
}

.button-panel a {
  text-decoration: none;
  text-transform: uppercase;
  color: #787878;
}

.image-container {
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  padding-left: 30px;
  margin: 5px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.bottom-container {
  display: flex;
  padding: 10px 15px;
  text-transform: uppercase;
}

.bottom-container--left {
  display: flex;
  flex-flow: column;
  padding-bottom: 200px;
  min-width: 120px;
  flex-basis: 0;
  margin-right: 120px;
  justify-content: space-around;
  text-transform: none;
}

.bottom-container--right {
  min-height: 50px;
  flex-grow: 2;
}

.input-box {
  outline: none;
  border: 1px solid #D0D0D0;
  padding: 6px;
}

.btn {
  border: 1px solid #D0D0D0;
  background-color: transparent;
  padding: 8px 15px;
  color: #707070;
  font-size: 11px;
}

.blue--button {
  background-color: #00458a;
  color: white;
  border: none;
}

.bottom-container--right .row {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.bottom-container--right .bottom-row {
  justify-content: flex-end;
  padding: 0px;
  margin: 10px;
  align-items: center;
}

.margin-l-10 {
  margin-left: 10px;
}

.txt-align-left {
  text-align: right;
  display: block;
}

.text-lower {
  text-transform: lowercase;
}

.font-12 {
  font-size: 12px;
}

.lock {
  width: 20px;
  height: 20px;
}

.dark-Gray-color {
  color: #707070;
}

.gray-color {
  color: #C8C8C8;
}

@media all and (max-width: 700px) {
  .aside-2 {
    flex-flow: column;
    justify-content: start;
    line-height: 15px;
    min-width: auto;
  }

  .aside-1 {
    display: flex;
    flex-wrap: wrap;
    min-width: unset;
    max-width: 90px;
    max-height: fit-content;
  }

  .wrapper {
    flex-flow: column;
  }

  .row {
    justify-content: space-around;
  }

  .aside-2 .size {
    margin-left: 5px;
  }

  .aside-2 .qty {
    margin: 10px 0px 10px 5px;
  }

  .label {
    display: inline-block;
  }

  .mobile {
    display: flex;
  }

  .image-container {
    min-width: 160px;
    min-height: 200px;
    padding: 0px;
    width: 190px;
    height: 190px;
  }

  .button-panel {
    justify-content: space-around;
    padding: 0px 0px 0px 0px;
  }

  .mobile-hide {
    display: none;
  }

  .bottom-container--right .mobile {
    padding: 0px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    min-height: 65px;
  }

  .bottom-container--right .bottom-row {
    flex-flow: column;
    height: 50px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: space-around;
  }

  .bottom-row .item-1 {
    order: 2;
  }

  .bottom-row .item-2 {
    order: 1;
  }

  .thin {
    height: 1px;
  }
}

/*# sourceMappingURL=myStyle.css.map */
